# Object files
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Output files
bin/
Makefile.generated

# IDE
.vscode/
.idea/

# ROMs
*.n64
*.v64
*.z64
